header {
    height: 15vh;
    background-color: #ffde73;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btns-container {
    display: flex;
    list-style: none;
}

.btn-header {
    margin: 0 40px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    background-color: #c16a08;
    box-shadow: 3px 3px black;
}

.btn-header:hover {
    box-shadow: none;
}